*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100wh;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    font-family: 'Red Rose', cursive;
    background-color: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    background-size: cover;
}
.logo{
    width: 100px;
    cursor: pointer;
    margin-top: 15px;
}
.navigation{
    margin-top: 30px;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 30px;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 2px;
}
nav ul li{
    list-style: none;
    cursor: pointer;
}
ul{
    display: flex;
    gap: 40px;
}
a{
    text-decoration: none;
    color:  #ffc233;
}
.btn button{
    background-color:#ff505f;
    color: #ffffff;
    padding: 10px 40px;
    font-size: 15px;
    font-weight: 700;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.heading h1{
    font-size: 70px;
    font-weight: 500;
    margin-top: 40px;
    color:  #ffc233;
    text-align: center;
    font-family: 'Dela Gothic One', cursive;
}
.button button{
    background-color:#ff505f;
    color: #ffffff;
    padding: 15px 40px;
    font-size: 20px;
    font-weight: 700;
    border: none;
    margin-top: 20px;
    cursor: pointer;

}
footer{
    display: flex;
    align-items: center;
    justify-content: end;
}
footer img{
    height: 110px;
    width: 110px;
    padding-right: 15px;
    cursor: pointer;
}
