*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}
body{
    background-color:#f0f4f5;
    margin: auto;
    font-family: 'Poppins', sans-serif;
    
}
a{
    text-decoration: none;
    color: black;

}
ul li{
    list-style: none;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
    
}
nav img{
    width: 160px;
    cursor: pointer;
    margin-left: -80px;
}
.menu ul{
    display: flex;
    align-items: center;
    gap: 90px;
    font-size: 20px;
    font-weight: 800;
    cursor: pointer;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}
form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 300px;
    padding: 20px;
    box-shadow: 0 0 10px black;
    border-radius: 10px;
}
form h1{
    text-align: center;
}
form div{
    display: flex;
    flex-direction: column;
}
form div label{
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 5px;
}
form div input{
    border: transparent;
    border-radius: 10px;
    padding: 10px 15px;
}
form div textarea{
    border: transparent;
    border-radius: 10px;
    height: 100px;
    resize: none;
    padding: 5px 10px;
}
form button{
    background-color:#20bc7e;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    color: #f0f4f5;
    border: none;
    border-radius: 8px;
    padding: 5px 10px;
}